<div class="EditProfilePage">
    <div class="left"><%= image_tag "edit_profile.png", class:"ImgEditProfile" %></div>
    <div class="right"> <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "box bigger_box" }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.label :email, class:"label" %>
              <%= f.email_field :email, class:"input", autocomplete:"title", placeholder:"Ton email" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field">
              <%= f.label :password, "Mot de passe", class:"label" %> 
              <%= f.password_field :password, class:"input", autocomplete:"title", placeholder:"Mot de passe" %>
              <% if @minimum_password_length %>
                <br />
              
              <% end %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation, "Confirmer le mot de passe", class:"label" %> 
              <%= f.password_field :password_confirmation, class:"input", autocomplete:"title", placeholder:"Mot de passe" %>
            </div>

            <div class="field">
              <%= f.label :current_password, "Votre mot de passe actuel", class:"label" %> 
              <%= f.password_field :current_password, class:"input", autocomplete:"title", placeholder:"Ancien mot de passe" %>
            </div>

            <div class="field"> 
              <%= f.label :first_name, "Ton prénom", class:"label" %> 
              <%= f.text_field :first_name, class:"input", autocomplete:"title", placeholder:"Gérard" %>
            </div>

            <div class="field"> 
              <%= f.label :last_name, "Ton nom", class:"label" %> 
              <%= f.text_field :last_name, class:"input", autocomplete:"title", placeholder:"Dupont" %>
            </div>

             <div class="field"> 
              <%= f.label :birth_day, "Ta date de naissance", class:"label" %> 
              <%= f.date_field :birth_day, class:"input", autocomplete:"title", placeholder:"JJ/MM/AAAA" %>
            </div>

            <div class="field"> 
              <%= f.label :gender, "Ton genre", class:"label" %> 
              <%= f.text_field :gender, class:"input", autocomplete:"title", placeholder:"H/F/Autre" %>
            </div>
            <div class="actions">
             <%= f.submit "Mettre à jour", class:"butt ButtonEditProfile font" %>
            </div>
          <% end %>
          </br>
            <div class="box">
                <p class="label">Supprimer définitivement votre compte</p>
                <center><%= button_to "Supprimer mon compte", registration_path(resource_name), method: :delete, class:"butt danger font", data: { confirm: "Es-tu sûr de vouloir continuer ? " } %></center>
    </div>
       </br>
        <%= link_to "Retour à la page d'accueil", :back, class:"sharelinks" %>
</div>