<div class="body_signup">
  <div id="loginpage">

        <p class="title has-text-white">S'inscrire</p>

    <%= form_for resource, url: new_user_session_path, html: { class: "box formulaire" } do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, class:"label" %>
        <%= f.email_field :email, class:"input", autocomplete:"title", placeholder:"Ton email" %>
      </div>

      <div class="field">
        <%= f.label :password, "Mot de passe", class:"label" %>
        <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> caractères minimum</em>
        <% end %><br />
        <%= f.password_field :password, class:"input", autocomplete:"title", placeholder:"Mot de passe" %>
      </div>



      <div class="field">
        <%= f.label :password_confirmation, "Confirmer le mot de passe", class:"label" %>
        <%= f.password_field :password_confirmation, class:"input", autocomplete:"title", placeholder:"Mot de passe" %>
      </div>

      <div class="field">
        <%= f.hidden_field :is_host, value: false %>
      </div>
      <div class="actions">
        <%= f.submit "Créer votre compte", class:"butt one font" %>
      </div>


    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
          
