<div class="PasswordNewPage">
  <div class="left"><%= image_tag "motdepasse.jpg", class:"ImgEditProfile" %></div>

        <div class="right">
        <h2 class="title">Tu as oublié votre mot de passe ?</h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class:"box  passwordLost" }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :email, class:"label" %>
            <%= f.email_field :email, class:"input", autofocus: true, autocomplete: "email" %>
          </div></br>

          <div class="actions wide">
            <%= f.submit "Créer un nouveau mot de passe", class:"sub wide" %>
          </div>
        <% end %>
      </div>
        <%= render "devise/shared/links" %>
  </div>
</div>