<section class="hero is-info is-halfheight">
  <div class="hero-body">
    <div class="">
      <p class="title">
     Bienvenue sur ton compte <%= @user.first_name %> !
      </p>
      <p class="subtitle">
      Voici la liste de tous les evenements que tu as crée :
      </p>
    </div>
  </div>
</section>



<br /><br />


	<div class="flexEvents">
	<% @user.created_events.each do |event| %>
		<div class="card" id="cards">
        <div class="card-image">
          <figure class="image is-4by3">
            <a href="/events/<%= event.id %>"><%= image_tag "default_image.jpg" %></a>
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
          </div>
          <div class="media-content">
            <p class="title is-4"><%= event.title %></p>
            <p class="subtitle is-6">par <%= event.host.first_name %></p>
          </div>
        </div>

        <div class="content">
          <%= event.description %>
          <br>
        
        </div>
        </div>
        </div>
        <%end%>
