<div class="indexEvents">
	<p class="regarde"> regarde moi tous ces repas ! </p>
	<p>ce serait bête de ne pas en profiter, je dis ca je dis rien !</p>
	<div class="flexEvents">
	<% @event.each do |event| %>
		<% nb_place = (6 - event.guests_number) %>
		<div class="events">
			<div id="box">
					<p class="title"><%= event.title %></p>
					<p>par <%= event.host.first_name %></p>
					<p class="subtitle"><%= event.description%></p>
				<% if nb_place > 0 %>
					<p>nombre de places restantes : <%= nb_place %></p>
					<p>c'est à <%= event.city.city_name %> !</p>
				<% else %>
					<p>ce repas est déjà complet !</p>
				<%end%>
			</div>
			
			<%= button_to "Dis m'en plus !", event_path(event.id), method: :get, class:"dismen" %>
		</div>
	<%end%>
</div>
</div>