<div class="indexEvents">
	<p class="regarde"> regarde moi tous ces repas ! </p>
	<p>ce serait bête de ne pas en profiter, je dis ca je dis rien !</p>
	<div class="flexEvents">
	<% @event.each do |event| %>
		<div class="card" id="cards">
				<div class="card-image">
					<figure class="image is-4by3">
						<a href="/events/<%= event.id %>"><%= image_tag "default_image.jpg" %></a>
					</figure>
				</div>
				<div class="card-content">
					<div class="media">
						<div class="media-left">
					</div>
					<div class="media-content">
						<p class="title is-4"><%= event.title %></p>
						<p class="subtitle is-6">par <%= event.host.first_name %></p>
					</div>
				</div>

				<div class="content">
					<%= event.description %>
					<br>
				
				</div>
				</div>
				</div>
		
	<%end%>
</div>
</div>