<div class="indexEvents">
	<p class="regarde"> Regarde moi tous ces repas ! </p>
	<p>Ce serait bête de ne pas en profiter, je dis ca je dis rien !</p>
	<%= @test %>

	<%= form_with url:'/events', method: :get, remote:true do |f| %>
		<div class="field select tag_field formulaire">
			<%= f.select :tag_id, [[:include_blank => 'Filter'], ["Végétarien", 1],["Vegan", 2],["Halal", 3],["Casher", 4], ["Sans gluten", 5], ["sain", 6], ["gras", 7]], class:"select" %>
		</div>
		<div>
			<%= f.submit "Chercher",  class:"sub"%>
		</div>
	<%end%>

	<div class="flexEvents" id="event_cards">
	<% @event.each do |event| %>
		<div class="card" id="cards">
				<div class="card-image">
					<figure class="image is-4by3">
						<%if event.photo.attached?%>
							<a href="/events/<%=event.id%>"><%= image_tag event.photo, alt: 'photo' %></a>
						<%else%>
							<a href="/events/<%= event.id %>"><%= image_tag "default_image.jpg" %></a>
						<%end%>
					</figure>
				</div>
				<div class="card-content">
					<div class="media">
						<div class="media-left">
					</div>
					<div class="media-content">
						<p class="title is-4"><%= event.title %></p>
						<p class="subtitle is-6">par <%= event.host.first_name %></p>
					</div>
				</div>

				<div class="content">
					<%= event.description %>
					<br>
				
				</div>
				</div>
				</div>
		
	<%end%>
</div>
</div>