<div class="indexEvents">
	<p class="regarde"> regarde moi tous ces repas ! </p>
	<p>ce serait bête de ne pas en profiter, je dis ca je dis rien !</p>
	<%= @test %>

	<%= form_with url:'/events', method: :get, remote:true do |f| %>
		<div class="field select  formulaire">
			<%= f.select :tag_id, [[:include_blank => 'Filter'], ["Végétarien", 1],["Vegan", 2],["Halal", 3],["Casher", 4], ["Sans gluten", 5], ["sain", 6], ["gras", 7]], class:"select" %>
		</div>
		<div class="sub">
			<%= f.submit "Chercher"%>
		</div>
	<%end%>

	<div class="flexEvents" id="event_cards">
	<% @event.each do |event| %>
		<% nb_place = (event.guests_number - event.current_guests) %>
		<div class="events">
			<div id="box">
					<p class="title"><%= event.title %></p>
					<p>par <%= event.host.first_name %></p>
					<p class="subtitle"><%= event.description%></p>
				<% if nb_place > 0 %>
					<p>nombre de places restantes : <%= nb_place %></p>
					<p>c'est à <%= event.city.city_name %> !</p>
				<% else %>
					<p>ce repas est déjà complet !</p>
				<%end%>
			</div>
			
			<%= button_to "Dis m'en plus !", event_path(event.id), method: :get, class:"dismen" %>
		</div>
	<%end%>
</div>
</div>