<div id="pageNewEvent">

	<p class="title">Créer un nouvel évènement</p>
	<br>

		<div>
			<%= form_with url: '/events', method: :post, local: true do |f| %>
				<div class="field form">
				<%= f.label :title, "Titre", class:"label" %>
				<%= f.text_field :title, class:"input", autocomplete:"title", placeholder:"Ajoute le titre de ton evenement !" %>
				</div>

				<div class="field form">
					<%= f.label :description, "Description", class:"label" %>
					<%= f.text_area :description, class:"input", autocomplete:"description", placeholder:"Ajoute une petite description !" %>
				</div>

				<div class="field form">
					<%= f.label :date, "Date", class:"label" %>
					<%= f.date_field :date, class:"input", autocomplete:"date", placeholder:"Quand est ce que ce sera ?" %>
				</div>

				<div class="field form">
					<%= f.label :guests_number, "Nombre d'invités (Ne te compte pas toi-même)", class:"label" %>
					<%= f.number_field :guests_number, in: 1..6, step:1, class:"input", autocomplete:"guests_number", placeholder:"Combien d'invités peux-tu accueillir ?" %>
				</div>

				<div class="field select form">
				<%= f.label :city_id, "Ville", class:"label" %>
				<%= f.select :city_id, [["Paris", 1],["Lyon", 2],["Marseille", 3],["Guingamp", 4], ["Lille", 5], ["Toulouse", 6]], class:"select", placeholder:"Ou tu habites ?" %>
				</div>
				<br>
				
				<div class="field tags form">
				<% Tag.all.each_with_index do |tag, index|%>
					<% tag_call = "tag" + "#{index}"%>
					<%= f.label tag.tag_name, class:"label" %>
					<%= f.check_box :"#{tag_call}"%>
				<%end%>
				</div>

				

				<div class="field form">
					<%= f.hidden_field :host_id, value: current_user.id %><br />
				</div>

				
				<div class="btnCreateEvent">
						<%= f.submit "Créer l'event", class:"sub" %>
					</div>
			<% end %>

	</div>
</div>
