<div id="pageNewEvent">

	<p class="title">Créer un nouvel évènement</p>
	<br>

		<div>
			<%= form_with url: '/events', method: :post, local: true do |f| %>
				<div class="field formulaire">f
				<%= f.label :title, class:"label" %>
				<%= f.text_field :title, class:"input", autocomplete:"title", placeholder:"Ajoute le titre de ton evenement !" %>
				</div>

				<div class="field formulaire">
					<%= f.label :description, class:"label" %>
					<%= f.text_area :description, class:"input", autocomplete:"description", placeholder:"Ajoute une petite description !" %>
				</div>

				<div class="field formulaire">
					<%= f.label :date, class:"label" %>
					<%= f.date_field :date, class:"input", autocomplete:"date", placeholder:"Quand est ce que ce sera ?" %>
				</div>

				<div class="field formulaire">
					<%= f.label :guests_number, class:"label" %>
					<%= f.number_field :guests_number, in: 1..6, step:1, class:"input", autocomplete:"guests_number", placeholder:"Combien d'invités peux-tu accueillir ?" %>
				</div>

				<div class="field select formulaire">
				<%= f.label :city_id, class:"label" %>
				<%= f.select :city_id, [["Paris", 1],["Lyon", 2],["Marseille", 3],["Guingamp", 4], ["Lille", 5], ["Toulouse", 6]], class:"select", placeholder:"Ou tu habites ?" %>
				</div>

				<div class="field formulaire">
					<%= f.hidden_field :host_id, value: current_user.id %><br />
				</div>

				<br>
				<div class="sub">
						<%= f.submit "Sign up" %>
					</div>
			<% end %>

	</div>
</div>