<!-- modifier cette méthode, le guest number correspond au nombre max de personnes -->
<% nb_place = (6 - @event.guests_number) %> 
<!-- celle ci ^^^^^^^^^^^^ -->

<div class="showEvents">
	<div id="card"> 
		<p id="title"><%= @event.title %></p>
		<p id="subtitle"><%= @event.description %></p>
		<p id="subtitle"> C'est le <%= @event.date %></p>
		<p id="subtitle">Et c'est à <%= @event.city.city_name %> !</p>
	<% if nb_place > 0 %>
		<p id="subtitle">Il reste <%= nb_place %> place(s) disponible(s) !</p>
		<%= button_to "Je veux venir !", '/appointment' , method: :post, params: {event_id: @event.id}, class:"jeveux" %>
	<% else %>
		<p id="subtitle">Ce repas est complet !</p>
	<% end %>
	</div>
	<% if current_user.id == @event.host.id %>
		<div>
			<h1>Voici les gens qui veulent rejoindre ton Event !</h1>
			<% @event.users.each do |user| %>
				<p><%= user.first_name%> <%=user.last_name%></p>
				<p><%= user.gender%> <%=user.age%></p>
				<% if user.appointments.where(event_id: @event.id).first.is_accepted?%>
					<p>Utilisateur déjà accepté ! </p>
				<%else%>	
					<% if (@event.current_guests < @event.guests_number)%>

						<%= button_to "Accepter l'invité", appointment_path(user.id), params:{event_id: @event.id, user_id: user.id}, method: :put %>
					<%end%>
					<%= button_to "Refuser l'invité", appointment_path(user.id), params:{event_id: @event.id, user_id: user.id}, method: :delete %>
				<%end%>
			<%end%>	
		</div>
	<%end%>	
</div>