<section class="hero bgLandingPage is-large">
  <div class="hero-body">
    	<p class="titreLandingPage up has-text-white">Share Pas Cher</p>
    <p class="titre up subtitle has-text-white">Le nouveau standard de la convivialité !</p>
    <div class="centerBtnHero up">
    	<%= button_to "/   S'inscrire   /", new_user_registration_path, method: :get, class:" btnSinscrire one font" %>
    </div>
  </div>
</section>

<div class="titreUnderHero">
	<h1 class="h repas">UN BON REPAS A PARTAGER ?</h1>
	<%= image_tag 'fleche.svg', class:"fleche" %>
</div>

<div class="presentation">
	<div class="centrer">
		<p class="previewCards">Un petit apercu de ce que tu y trouveras ?</p>
	</div>
	<div class="lasts">
		<% @events.each do |event| %>
			<div class="card" id="cards">
				<div class="card-image">
					<figure class="image is-4by3">
						<%= image_tag "default_image.jpg" %>
					</figure>
				</div>
				<div class="card-content">
					<div class="media">
						<div class="media-left">
					</div>
					<div class="media-content">
						<p class="title is-4"><%= event.title %></p>
						<p class="subtitle is-6">par <%= event.host.first_name %></p>
					</div>
				</div>

				<div class="content">
					<%= event.description %>
					<br>
				
				</div>
				</div>
				</div>
		<%end%>
	</div>
</div>

<div class="pleinUn">
<div class="emptyLeft">
	<%=image_tag 'prepGrand.jpg', class:"imgLeft" %>
</div>
<div class="descLanding"><p class="side">Marre de cette période où nous ne voyons que des bouts de visages masqués ?
Avec SPC, trouvez des personnes avec qui partager un bon repas.
Ici, pas d'algorithme, que de la bonne humeur !</p></div>
</div>

<div class="pleinDeux">
<div class="emptyRight">
	<%= image_tag 'tomatesGrand.jpg', class:"imgRight" %>
</div>
<div class="descLanding"><p class="side sideRight">Avec internet, rien de plus simple de se renseigner sur d'autres cultures,
mais connaissez vous vraiment le goût des plats traditionnels ?
Pas forcément besoin d'aller en Bretagne pour goûter à de vraies galettes saucisses et un bon Kouign-amann !</p></div>
</div>

<div id="basDePage">
	<%= button_to "/   S'inscrire   /", new_user_registration_path, method: :get, class:"btnSinscrire one font" %>

	<p class="h1 down">Rejoins donc la communauté de Share Pas Cher, pas de frais cachés, que du bonheur !</p>


</div>



