<!DOCTYPE html>
<html>
  <head>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
          <link rel="stylesheet" href="SharepasCher.css">
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
          <meta name="viewport" content="width=device-width, initial-scale=1">
              <%= stylesheet_link_tag    'application', media: 'all' %>
              <%= javascript_include_tag 'application' %>
          <title>Share Pas Cher</title>
          <%= favicon_link_tag %>
  </head>
  <body>
  <div id="navbar">
    <% if user_signed_in? %>
    <div id="btnGaucheTrue">
      <div id="logo">
          <a href="/"><%= image_tag 'SPC_logo.png', class:"logo_SPC"%></a>
        </div>
          <%= link_to 'Voir Les Évènements', events_path, class:"font" %>
          <p class="font">/</p>
          <%= link_to 'Créer Un Évènement', new_event_path, class:"font" %>
          <p class="font">/</p>   
      </div>
      <%else %>
      <div id="btnGaucheFalse">
        <div id="logo">
          <p>/</p>
          <a href="/"><%= image_tag 'SPC_logo.png', class:"logo_SPC"%></a>
          <p>/</p>
        </div>
      </div>
      <% end %>

      <% if user_signed_in? %>
      <div id="btnDroiteTrue">
        <p class="font">/</p>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link  font">
            Mon Compte
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item font" href="/users/edit">
              Mes Informations
            </a>
            <%= link_to 'Mes Évènements', created_index_events_path, class:"navbar-item font" %>
            
        </div>
      </div>
        <p class="font">/</p>
        <%= link_to "Me Déconnecter", destroy_user_session_path, method: :delete, class:"font" %>
        <%= image_tag 'logout.svg', class:"logouticon" %>
        <p class="font">/</p>
      </div>
      <%else%>
      <div id="btnDroiteFalse">
        <p class="font">/</p>
        <%= link_to "S'inscrire", new_user_registration_path, class:"font" %>
        <p class="font">/</p>
        <%= link_to 'Se Connecter', new_user_session_path, class:"font" %>
        <p class="font">/</p>
      </div>
      <%end%>
    </div>
  </div>
  <% flash.each do |type, msg| %>
    <div class="notification is-<%=type%>">
      <%= msg %>
    </div>
  <% end %>
  </div>
</div>








<main>
  <%= yield %>
</main>

<footer class="footer">

<div class="content has-text-centered calage">

<p>

<a href="../Footer_apropos.html" title="En savoir plus">A propos</a><br />

<a href="../Footer_reseaux.html" title="Rejoignez-nous sur les reseaux">Reseaux</a>

<a href="../Footer_confidentialite.html" title="Confidentialite">Confidentialite</a>

<a href="../Footer_cookies.html" title="Cookies">Cookies</a><br />

<strong>SPC®</strong> <br />

<span class="inter">By Share pas Cher® team international, 2021.</span></div><br />

</p>

</div>

</footer>


</body>
</html>