<!DOCTYPE html>
<html>
  <head>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
          <link rel="stylesheet" href="SharepasCher.css">
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
          <meta name="viewport" content="width=device-width, initial-scale=1">
              <%= stylesheet_link_tag    'application', media: 'all' %>
              <%= javascript_include_tag 'application' %>
          <title>Share Pas Cher</title>
  </head>

<body>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    
      <a class="navbar-item" <%= link_to "SPC", root_path %></a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      </a>  
  </div>
    <% if user_signed_in? %>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" <%= link_to "Liste des events", events_path %></a>
      <a class="navbar-item" <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %></a>
      <% if current_user.is_host?%>
        <a class="navbar-item" <%= link_to "Liste de tes events", created_index_events_path %></a>
        <a class="navbar-item" <%= link_to "Crée un nouvel event ", new_event_path %></a>
      <%else%>
        <a class="navbar-item" <%= link_to "Devenir hôte", new_event_path %></a>
      <%end%>
    <% else %>

        <a class="navbar-item">
        Voir les experiences
        </a>

<div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">Mon profil</a>

    <div class="navbar-dropdown">

    <a class="navbar-item">
    Ma session
    </a>

    <a class="navbar-item">
    Mes SPC friends
    </a>

    <a class="navbar-item">
    Messagerie
    </a>

    <hr class="navbar-divider">

    <a class="navbar-item">
    Parametres
    </a>
  </div>
</div>
</div>

<div class="navbar-end">

<div class="navbar-item">

<div class="buttons">

<a class="navbar-item" <%= link_to "S'inscrire", new_user_registration_path %></a>

<a class="button is-info" <%= link_to "Se connecter", new_user_session_path %></a>

</div>

</div>

</div>

<% end %>

</div>

</nav>






<div id="navbar">
   <% if user_signed_in? %>
  <div id="btnGaucheTrue">
    <div id="logo">
        <p>/</p>
        <%= link_to "SPC", root_path, class:"spc" %>
        <p>/</p>
      </div>
        <%= link_to 'Voir les évènements', events_path, class:"font" %>
        <p class="font">/</p>
         <%= link_to 'Créer un évènement', new_event_path, class:"font" %>
        <p class="font">/</p>

        <% if current_user.is_host? %>
    <div id="btnGaucheHost">
    <div id="logo">
        <p>/</p>
        <%= link_to "SPC", root_path, class:"spc" %>
        <p>/</p>
      </div>
        <%= link_to 'Voir les évènements', events_path, class:"font" %>
        <p class="font">/</p>
        <%= link_to 'voir mes évènements', created_index_events_path, class:"font" %>
         <%= link_to 'Créer un évènement', new_event_path, class:"font" %>
        <p class="font">/</p>
    </div>
    <% end %>
    </div>
    <%else %>
    <div id="btnGaucheFalse">
      <div id="logo">
        <p>/</p>
        <p id="spc">SPC</p>
        <p>/</p>
      </div>
      <p class="font">Voir les expériences</p>
      <p class="font">/</p>

     </div>
    <% end %>

    
  

  
    <% if user_signed_in? %>
    <div id="btnDroiteTrue">
      <p class="font">/</p>
      <div>
      <a href="#" class="font drpdwn">Mon Compte</a>
        <ul id="list">
          <li><a href="#" class="font">Mes Informations</a></li>
          <li><a href="#" class="font">Mes amis</a></li>
          <li><a href="#" class="font">Mes messages</a></li>
          <li><a href="#" class="font">Paramètres</a></li>
        </ul>
      </div>
      <p class="font">/</p>
      <%= link_to "Me déconnecter", destroy_user_session_path, method: :delete, class:"font" %>
      <p class="font">/</p>
    </div>
    <%else%>
    <div id="btnDroiteFalse">
      <p class="font">/</p>
      <%= link_to "S'inscrire", new_user_registration_path, class:"font" %>
      <p class="font">/</p>
      <%= link_to 'Se connecter', new_user_session_path, class:"font" %>
      <p class="font">/</p>
    </div>
    <%end%>
  </div>
</div>












<footer class="footer">

<div class="content has-text-centered footerdemerde">

<p>

<a href="../Footer_reseaux.html" title="Rejoignez-nous sur les reseaux">Rejoignez-nous sur les réseaux sociaux</a>

<a href="../Footer_confidentialite.html" title="Confidentialite">Confidentialite</a>

<a href="../Footer_cookies.html" title="Cookies">Préférences COOKIES</a>

<a href="../Footer_apropos.html" title="En savoir plus">A propos</a><br />

<strong>SPC®</strong> <br />

<span class="inter">By Share pas Cher® team international, 2021.</span></div><br />

</p>

</div>

</footer>
<%= yield %>

</body>

</html>